.side-element{
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  color: inherit;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s ease-in-out;

  &:hover{
    color: #DAE1E1;
  }

}
